.navBar {
  border: solid black 2px;
  margin: 0;
  width: 100%;
  height: 100px;
  background-color:#03045E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00B4D8;
  text-decoration: none;
  position: sticky;
}

.logoImg, .loggo {
  /* border: solid black 2px; */
  height: 8dvh;
  display: flex;
  padding:1px;
}

#CompName {
  border: solid #03045E 1px;
  height: 4dvh;
  display: flex;
  font-size: 8px;
  font-family: cursive;
}

.welcomeHeader {
  font-size: 25px;
  font-weight: bolder;
  font-style: oblique;
  font-family: fantasy;
  color:#023E8A ;
}

.allServicesHeader {
  font-style: oblique;
  font-family: fantasy;
  color:#023E8A ;
}

.createBtnLink, .createBtn {
  display: flex;
  justify-content: end;
  text-decoration: none;
  text-decoration-line: none;
  background-color:#023E8A ;
  color: rgb(54, 245, 54); 
}

.createBtn {
  border: solid #00B4D8 2px;
  background-color:green ;
}

.table-striped {
  table-layout: fixed;
  border: solid #00B4D8 2px;
  background-color: #0077B6;
}

.tableMainContainer {
  border: solid #023E8A 3px;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

th, td {
  height: 3dvh;
  width: auto;
  border: solid #023E8A 0.5px;
}


:root {
  --white: #FFFFFF;
  --tan-1: #A1437D;
  --tan-2: #219EBC;
  --tan-3: #023047;
  --tan-4: #90A955;
  --orange: #FFBD00;
  --blue: #a1b2de;
  --text-light: #FFBD00;
  --text-dark: #90A955;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#00B4D8;
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding-top: 120px;
  padding-left: 55px;
  padding-right: 80px;
  background-image: url('https://images.unsplash.com/photo-1605152276897-4f618f831968?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  border-radius: 10px;
  height: 400px;
  width: 600px;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}